# Built application files
/*/build/
build/

# Local configuration file (sdk path, etc)
local.properties

# User-specific configurations
*/.idea/
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/dictionaries
*/.idea/vcs.xml
*/.idea/jsLibraryMappings.xml
*/.idea/dataSources.ids
*/.idea/dataSources.xml
*/.idea/dataSources.local.xml
*/.idea/sqlDataSources.xml
*/.idea/dynamic.xml
*/.idea/uiDesigner.xml

# Gradle:
*/.gradle/
*/.idea/gradle.xml
*/.idea/libraries

## File-based project format:
*/*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
*/.idea_modules/
